@charset 'UTF-8'

*{
  margin:0;
  padding:0;
}

.tc-overlay{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  z-index:100000;
  background-color:#222;
  background-color:rgba(0,0,0,0.8);
  overflow:hidden;
  display:none;

  -moz-transition:opacity 1s ease;
  -webkit-transition:opacity 1s ease;
  transition:opacity 1s ease;
}

.tc-slider{
  height:100%;

  left:0;
  top:0;

  width:100%;
  white-space: nowrap;
  position:absolute;
}

.tc-img-box{
  -moz-transition:left .6s ease;
  -webkit-transition:left .6s ease;
  transition:left .6s ease;

  

  position: absolute;
  left:100%;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 100003;

  
  display: table;
}

.tc-img-box:nth-child(1){
  z-index: 100002;
}

.tc-img-box:nth-child(3){
  z-index: 100004;
  left: 200%;
}
  .tc-img-overlay{
    display:table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -2px;
    /*background-color:#DDDDDD;*/
    border-left: #000000 2px solid;
  }
  .tc-img-box img{
    max-height: 100%;
    max-width: 100%; 
  }




.prev-btn,.next-btn{
  border:none;
  text-decoration:none;
  opacity:0;
  cursor:pointer;
  position:absolute;
  width:50%;
  height:100%;
  z-index: 100020;
  cursor:url(arr_right.cur),auto;
}

.prev-btn{
  left:0px;
  cursor:url(arr_left.cur),auto;
}

.prev-btn:hover, .next-btn:hover{
  opacity:1;
}

.next-btn{
  right:0px;
}
